<div class="sidebar-nav">
            <div class="navbar" role="navigation">
              <div class="navbar-header">

                <button type="button" class="navbar-toggle off" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <span class="visible-xs navbar-brand">{{ site.name }}</span>
              </div>
              
                
                {% include profile.html %}
              
              <div class="navbar-collapse collapse sidebar-navbar-collapse">
               <ul>
           <!--     <li><a>About</a></li> -->
              <!--  <li><a>Resume</a></li> -->
               </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>