<!DOCTYPE html>
<html>
<head>
  {% include headers.html %}

</head>
<body>

  <!-- <div class="header">
    <h1 class="title"><a href="/">{{ site.name }}</a></h1>
    <a class="extra" href="/">home</a>
  </div> -->


  <div class="wrapper">

    <nav class="navbar navbar-default navbar-fixed-top hidden-xs">
      <div class="navbar-inner navbar-content-center">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 pull-left">
          <h1 class="blog-title hidden-xs"><a class="pink-hover" href="/">{{ site.name }}</a></h1>

        </div>
        <div class="col-sm-9">
          <ul class="hidden-xs">
             <!--   <li><a>About</a></li> -->
              <!--  <li><a>Resume</a></li> -->
               </ul>
        </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container content">
      <div class="row">
 
        <div class="col-sm-4">
          {% include sidebar.html %}
          
        </div>
        <div class="col-sm-7 col-sm-offset-1">
          

          {{ content }}

        </div>   
      </div>
    </div>
  </div>



  <div id="footer" class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="navbar-inner navbar-content-center">
        <div class="container">
          <div class="row">
         <div class="col-sm-6 pull-left teal-hover">
          &copy; 2014 Martha Kobus. All right reserved.

        </div>

        <ul class="contact social-icons col-xs-12 col-sm-4 col-sm-offset-2">
          <li><a href="http://twitter.com/TheMarthak" target="_blank" class="symbol" title="&#xe286;" id="twitter"></a></li>
          <li><a href="https://www.linkedin.com/pub/martha-kobus/7a/413/491" target="_blank" class="symbol" title="&#xe252;" id="linkedin"></a></li>
          <li><a href="http://github.com/mkobus/" class="symbol" target="_blank" title="&#xe237;" id="github"></a></li>
          <li><a href="mailto:marthakobus@gmail.com" class="symbol" title="&#xe224;" id="email"></a></li>
        </ul>
      </div>
        </div>
    </div>
  </nav>
</div>







{% include scripts.html %}
</body>
</html>
